.header{
    background-color: navy;
    color: white;
    padding-bottom: 10px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    background-color: rebeccapurple;
    padding: 5px;
}

.header__main{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding:10px 5px;
}

.header__main__menu{
    display: flex;
}

.main__menu__icon:not(:last-child){
    margin-right: 20px;
}

.main__menu__icon:nth-child(2){
    margin-right: 25px;
}

.header__footer{
    display: flex;
    font-size: 40px;
    justify-content:space-around;
    padding-top:20px;
}

.one{
    border-radius: 100%;
    background-color: red;
    font-size: 14px;
    text-align: center;
    position: absolute;
    font-size: 13px;
    width: 15px;
    height: 15px;
}

.header__footer__icon:nth-child(1){
    position: relative;
}

.header__footer__icon:nth-child(2){
    position: relative;
}

.main__header__group{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 15px;
    font-size: 12px;
    color: gray;
}

.header__profile__img{
    background-image: url(profile.jpg);
    border-radius: 100%;
    background-position: center center;
    background-size: cover;
    width: 40px;
    height: 40px;
}

.main__header__profile{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1dbdb;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.main__header__profile div:not(:first-child){
    display: flex;
    align-items: center;
}

.border{
    border-top: 1px solid #e1dbdb;
}